<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<meta charset="UTF-8">
<title>Trainee Home</title>
</head>
<body>


<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Trainee Desk</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
	  <li><a  class = "nav-brand "href="createTicketPage">Create Ticket</a></li>
    </ul>
    
    <ul class="nav navbar-nav navbar-right">
      	<li>
      	<form th:action="@{/trainee/logout}" method="post">
            <input type="submit" value="Logout" class="btn btn-info"/>
	</form>
	</li>
    </ul>
  </div>
</nav>

<h2 th:text="'Hi, ' + ${username} + '!'"></h2>
<hr>

<div th:if="${tickets!=null and !tickets.empty}">
		<h2> These are your open tickets: </h2>
		<hr>
		
		<table class="table table-hover">
		
		<thead>
		<tr> 
		<th scope="col">Ticket Id</th>
		<th scope="col">Date Created</th>
		<th scope="col">Ticket Description</th>
		<th scope="col">Programming Language</th>
		<th scope="col">Assigned Helper</th>
		</tr>
		</thead>
		
		<tbody>
		<tr th:each="ticket : ${tickets}">
		<td th:text="${ticket.ticketId}" /></td>
		<td th:text="${ticket.dateCreated}"/></td>
		<td th:text="${ticket.description}" /></td>
		<td th:text="${ticket.pLanguage.name}" /></td>
		<td th:text="${ticket.helper.username}" /></td>
		</tr>
		</tbody>
		</table>
	</div>
	</div>
	
	<div th:if="${tickets!=null and tickets.empty}">
		<h2> You don't have any open tickets right now. </h2>
	</div>
	

	

</body>
</html>



