<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Helper Desk System</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</head>
<body>	
<h1>Welcome to the Help Desk System</h1>
<hr>


	<div align="center">
		<span class="border border-secondary">
        <h2><a th:href="@{/helper/login}">Helper Login</a></h2>
        </span>
        
        <p/>
        <h2><a th:href="@{/trainee/login}">Trainee Login</a></h2>
    </div>
</body>
</html>

	